@model IEnumerable<website_CLB_HTSV.Models.SinhVien>

@{
    ViewData["Title"] = "Index";
}

<style>
    /* Form */
    .search-form {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .search-container {
        position: relative;
        width: 100%; 
    }

    .search-input {
        width: 100%;
        padding: 10px 20px;
        border: 1px solid #38b7fd;
        border-radius: 25px;
        font-size: 16px;
        outline: none;
        background-color: transparent;
    }

    .search-button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-bottom: 10px;
    }

    .search-button i {
        font-size: 20px;
    }

    /* Table */
    .table-container {
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border: none; /* Ẩn viền của bảng */
    }

    th, td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    /* Responsive */
    @@media (min-width: 640px) {
        .search-container {
            width: 700px;
        }

        .search-input {
            width: 700px; 
            min-width: 200px; 
        }
    }
</style>

@if (User.IsInRole("Administrators"))
{
    <form asp-controller="SinhViens" asp-action="Index" class="search-form justify-center mb-2">
        <div class="search-container">
            <input type="text" class="search-input w-full md:w-80 mb-2 md:mb-0" placeholder="Tìm kiếm" name="SearchString">
            <button class="search-button ml-2">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>

    <p>
        <a asp-action="Create">Tạo mới</a>
        <a asp-controller="SinhViens" asp-action="ExportToExcel" class="btn btn-success">Export to Excel</a>
    </p>
}
<h1>Danh sách sinh viên</h1>



<!-- Bảng danh sách sinh viên -->
<table class="table">
    <!-- Tiêu đề bảng -->
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MaSV)</th>
            <th>@Html.DisplayNameFor(model => model.HoTen)</th>
            <th>@Html.DisplayNameFor(model => model.NgaySinh)</th>
            <th>@Html.DisplayNameFor(model => model.DienThoai)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.MaLop)</th>
            <th>@Html.DisplayNameFor(model => model.MaChucVu)</th>
            <th>@Html.DisplayNameFor(model => model.HinhAnh)</th>
            <th></th>
        </tr>
    </thead>
    <!-- Dữ liệu bảng -->
    <tbody>
        @foreach (var sinhVien in Model)
        {
            <tr>
                <td>@sinhVien.MaSV</td>
                <td>@sinhVien.HoTen</td>
                <td>@sinhVien.NgaySinh</td>
                <td>@sinhVien.DienThoai</td>
                <td>@sinhVien.Email</td>
                <td>@sinhVien.MaLop</td>
                <td>@sinhVien.MaChucVu</td>
                <td> <img src="@(Url.Content("~/userimages/" + sinhVien.HinhAnh))" alt="Hình ảnh sinh viên" class="img-thumbnail" style="width: 150px;" /></td>
                <td>
                    <a asp-action="Details" asp-route-id="@sinhVien.MaSV">Details</a> |
                    <a asp-action="Edit" asp-route-id="@sinhVien.MaSV">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@sinhVien.MaSV">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>