@model website_CLB_HTSV.Models.SinhVien

@{
    ViewData["Title"] = "Search Result";
}

<h2>Search Result</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LopHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChucVu)
            </th>
            @*      <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (Model != null)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => @Model.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @Model.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @Model.DienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @Model.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @Model.LopHoc.TenLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @Model.ChucVu.TenChucVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => @Model.HinhAnh)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@@Model.MaSV">Edit</a> |
            <a asp-action="Details" asp-route-id="@@Model.MaSV">Details</a> |
            <a asp-action="Delete" asp-route-id="@@Model.MaSV">Delete</a>
        </td>
    </tr>
}
else
{
    <p>Không tím thấy sinh viên này.</p>
}
    <tbody>
</table>